*{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#calculator{
    background-color: #aaa;
    height: 480px;
    width: 350px;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
}

#screen{
    background-color: #e0e0e0;
    width: 350px;
    height: 110px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 20px;
}

#top-screen{
    padding-top: 15px;
    height: 40px;
    width: 300px;
    margin: auto;
    text-align: right;
}

#bottom-screen{
    height: 65px;
    width: 300px;
    margin: auto;
    text-align: right;
    font-size: 40px;
}

#button-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

#equal{
    width: 165px;
    grid-column: 3/5;
}

.button{
    background-color: #bdbdbd;
    padding: 17px 0px;
    width: 78px;
    border-radius: 15px;
    display: inline-grid;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    background-color: #b4b3b3;
}

.operator{
    background-color: tan;
}

.operator:hover{
    background-color: rgb(192, 165, 128);
}

#clear, #delete, #negate, #equal{
    background-color: #8a99b6;
}

#clear:hover, #delete:hover, #negate:hover, #equal:hover{
    background-color: #808ea9;
}
